html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #FFF;
    color: #432000;
    user-select: none;
}

.total-container {
    overflow-x: hidden;
}

.outer-container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    /* margin: 30px auto; */
    margin: 0px auto;
}

.inner-container {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

img {
    width: 200px;
    margin: 0 auto;
}

#email-input-field {
    margin-bottom: 0;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    width: 100%;
    border: 0;
    padding: 15px 0;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

button {
    color: #FDFDFD;
    background-color: #AC485A;
    width: 100%;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

button:hover {
    background-color: #432000;
    cursor: pointer;
}

#list-page-view {
    position: relative;
}

#sign-out-button-div {
    position: absolute;
    top: 10px;
    right: 10px;
}

#sign-out-button-div button {
    padding: 0px;
    font-size: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    /* display: flex;
    flex-wrap: wrap;
    gap: 10px; */
}

ul li {
    /* font-size: 20px; */
    background-color: #FFFDF8;
    padding: 15px;
    margin: 0 0 10px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
} */
